.sidebar_title {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 15px;
  color: white;
  display: flex;
  justify-content: center;
}

.sidebar_title_logo {
  margin-right: 5px;
  font-weight: 700;
}

.sidebar_item_logo {
  margin-right: 10px;
}

